 
.slick-slide > div {
  margin: 50px 100px;
}
.slick-list {
  margin: 0px -10px;
}

@media only screen and (max-width: 600px) {
  .slick-slide > div {
    margin: 30px 50px;
  }
  .slick-list {
    margin: 0px -10px;
  }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .slick-slide > div {
    margin: 30px 50px;
  }
  .slick-list {
    margin: 0px -10px;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

/* .slick-dots{
    color: red;
    width: 100%;
}

.slick-dots li button::before {
    color: red;
} */ 